#### .gitignore file
## C++ files, from
## https://raw.githubusercontent.com/github/gitignore/master/C++.gitignore
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### End C++

### CMake files, from
### https://raw.githubusercontent.com/github/gitignore/master/CMake.gitignore

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

### End CMake

# Ignore slurm error files
slurm*

# Ignore build directory
build
SharedLibraries
build_pips
# no additional .gitignore file for that
ThirdPartyLibs/PARDISO
ThirdPartyLibs/MUMPS
ThirdPartyLibs/METIS
ThirdPartyLibs/LUSOL
pipstmp
GAMSsmall
PIPS-IPM/Drivers/simple/simple_data_12.gdx

# Ignore the OS X DS_Store
.DS_Store

# Ignore Eclipse files
.metadata*
.project

RemoteSystemsTempFiles*
.cproject
.settings
/Debug/
